#ifndef QOOL_VERSION_HPP
#define QOOL_VERSION_HPP

#define QOOLUI_VERSION_MAJOR @QOOLUI_VERSION_MAJOR@
#define QOOLUI_VERSION_MINOR @QOOLUI_VERSION_MINOR@
#define QOOLUI_VERSION_PATCH @QOOLUI_VERSION_PATCH@
#define QOOLUI_VERSION_FULL "@QOOLUI_VERSION_FULL@"
#define QOOLUI_VERSION_QML "@QOOLUI_VERSION_QML@"

#endif QOOL_VERSION_HPP